.container {
  display: flex;
  margin: 100px 50px 50px 50px;
}

.content {
  width: 302px;
  border: 1px solid black;
  margin: 0 auto;
}

.item {
  width: 100px;
  height: 100px;
  padding-top: 25px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
}

.item:hover {
  background-color: #f1f1f10c;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
